@import '@/src/styles/functions.scss';
@import '@/src/styles/mixins.scss';
@import '@/src/styles/variables.scss';

$gridGap: rem(16);

.galleryGrid {
  display: flex;
  gap: $gridGap;
}

.imageList {
  width: 100%;
}

.imageWrapper {
  position: relative;
  height: rem(300);
  width: 100%;
  overflow: hidden;
  border-radius: rem(20);
  margin-block: $gridGap;

  img {
    object-fit: cover;
  }
}

.landscape {
  height: rem(250);
}

.portrait {
  height: rem(600);
}
