@import '@/src/styles/functions.scss';
@import '@/src/styles/mixins.scss';
@import '@/src/styles/variables.scss';

.Header {
  width: 100%;
  max-width: rem(1280);
  display: block;
  margin: 0 auto;
}

.Logo {
  .Desktop {
    position: relative;
    height: rem(150);
    display: none;

    @include media-query(mobileLarge) {
      display: block;
    }
  }

  .Mobile {
    position: relative;
    height: rem(100);

    @include media-query(mobileLarge) {
      display: none;
    }
  }
}
