@import '@/src/styles/variables.scss';
@import '@/src/styles/mixins.scss';
@import '@/src/styles/functions.scss';

.Gallery {
  background-color: $color-black-80;
  position: relative;
}

.GallerySlider {
  .GallerySlide {
    display: flex;
    justify-content: center;
    align-self: center;

    img {
      width: auto;
      max-height: 100vh;
    }
  }

  .Controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      background: transparent;
      color: $color-white-off;
      border: none;
      padding: rem(36);
      cursor: pointer;
      font-size: rem(24);
    }
  }

  .Bullets {
    position: absolute;
    bottom: rem(20);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: rem(10);

    button {
      width: rem(12);
      height: rem(12);
      background: $color-white-off;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.5;

      &:hover,
      &:global(.glide__bullet--active) {
        opacity: 1;
      }
    }
  }
}
