// @import "./functions";
@import "./variables";

/**
 * Mixin for creating a sticky footer layout.
 *
 * @param {number} $footer-height - The height of the footer.
 * @param {string} $wrapper-selector - The selector for the wrapper element.
 * @param {string} $container-selector - The selector for the container element.
 * @param {string} $footer-selector - The selector for the footer element.
 */
@mixin sticky-footer(
  $footer-height: $font-size-base,
  $wrapper-selector: "#wrapper--body",
  $container-selector: "#container--sf",
  $footer-selector: "#footer"
) {
  html,
  body {
    height: 100%;
  }

  body {
    padding: 0px;
  }

  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;

    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    }
  }

  #{$footer-selector} {
    height: $footer-height;
  }
}

@mixin media-query($viewport) {
  @if $viewport==mobile {
    @media (max-width: calc(map-get($breakpoints, "sm") - 1px)) {
      @content;
    }
  }

  @if $viewport==tablet {
    @media (min-width: map-get($breakpoints, "sm")) {
      @content;
    }
  }

  @if $viewport==desktop {
    @media (min-width: map-get($breakpoints, "lg")) {
      @content;
    }
  }
}
