@import '@/src/styles/variables.scss';
@import '@/src/styles/mixins.scss';
@import '@/src/styles/functions.scss';

.mainHeading {
  font-family: $font-family-heading;
  font-size: rem(32);
  text-transform: uppercase;
  font-weight: 100;
}

.subHeading {
  font-family: $font-family-heading;
  font-size: rem(16);
  font-weight: 600;
  color: $color-black-off;
}

.topicItem {
  font-family: $font-family-heading;
  font-size: rem(24);
  font-weight: 800;
  color: $color-black-off;
  text-transform: uppercase;
  text-decoration: none;
}

.body {
  font-family: $font-family-body;
  font-size: rem(12);

  a {
    color: $color-black-off;
    font-weight: 600;

    &:visited {
      color: $color-black-off;
    }
  }
}

.bodyLarge {
  font-family: $font-family-body;
  font-size: rem(16);

  a {
    color: $color-black-off;
    font-weight: 600;

    &:visited {
      color: $color-black-off;
    }
  }
}
