// Responsiveness
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1920px,
);

// Typography
$font-size-base: 16px;
$font-family-heading: 'caviar_dreamsregular', sans-serif;

// Colors
$color-yellow-main: #e1ad02;
$color-yellow-light: #fdd44e;
$color-black-off: #1a1a1a;
$color-white-off: #f5f5f5;

// Thumbnail component
$thumb-width: 230;
$thumb-height: 210;
$thumb-aspect-ratio: #{$thumb-height / $thumb-width};
