// Responsiveness
$breakpoints: (
  sm: 576px,
  md: 840px,
  lg: 1200px,
  xl: 1920px,
);

// Typography
$font-size-base: 16px;
$font-family-heading: 'caviar_dreamsregular', sans-serif;
$font-family-body: 'Open Sans', sans-serif;
$font-family-cursive: 'passengers', serif;

// Colors
$color-yellow-main: #e1ad02;
$color-yellow-light: #fdd44e;
$color-white-off: #f5f5f5;
$color-black-off: #1a1a1a;
$color-black-80: rgba(26, 26, 26, 0.8);
$color-highlight-dark: #3700d3;

// Thumbnail component
$thumb-width: 230;
$thumb-height: 210;
$thumb-aspect-ratio: #{$thumb-height / $thumb-width};

// Misc
$border-radius: 20;
$body-padding-mobile: 8px;
$body-padding-desktop: 16px;

// Footer
$footer-height-desktop: 48px;
$footer-height-mobile: 120px;
