@import "./functions";

$breakpoints: (
  sm: rem(576),
  md: rem(768),
  lg: rem(1200),
);

$font-size-base: 16px;

$color-yellow-main: #e1ad02;
$color-yellow-light: #fdd44e;
$color-black-off: #1a1a1a;
$color-white-off: #f5f5f5;
