@import '@/src/styles/_typography.scss';

.jobTitle {
  @extend .mainHeading;
}

.jobMetadata {
  @extend .subHeading;
}

.jobCategory {
  @extend .subHeading;
  text-transform: lowercase;
  text-decoration: none;
}

.jobCover {
  display: block;
}

.jobGalleryImage {
  display: block;
}

.jobTrailer {
  display: block;
  position: relative;
  width: 800px;
  height: 450px;
}
